.container {
  color: #fff;
  width: 12rem;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px 0px 20px 0px;
  border: 1px solid #111;
  border-radius: 4px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);

  button {
    background: none;
    border: none;
    color: #fff;
    margin-left: auto;
    margin-right: 1.4rem;
    font-size: 1.5rem;
    transition: all 0.2s ease;

    &:hover {
      color: red;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
.link {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  overflow: hidden;
  width: 90%;
  margin-left: 10%;
  cursor: pointer;
}
.link:after {
  content: '';
  position: absolute;
  width: 80%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  bottom: 50%;
  left: -100%;
  transition-delay: all 0.5s;
  transition: all 0.5s;
}
.link:hover:after,
.link.hover:after {
  left: 100%;
}
.link .text {
  text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
  transition: all 0.75s;
  transform: translateY(100%) translateZ(0);
  transition-delay: all 0.25s;
}
.link:hover .text,
.link.hover .text {
  text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
  transform: translateY(0%) translateZ(0) scale(1);
  font-weight: 600;
}
