@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, $dark-gray 70%, #ff6200d7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #fff;
}
