@import '../../styles/variables';

.nav-items {
  display: flex;
  background: $dark-gray;
  color: #fff;
  list-style: none;
  justify-content: flex-end;

  li {
    font-size: 1.6rem;
    padding: 1rem 1.6rem;
    transition: all 0.2s ease;

    &:hover {
      background: #fff;
      color: $dark-gray;
      transform: scale(0.94);
      cursor: pointer;
    }
  }
}
